/*=======================================
=           [43] Responsive css         =
========================================*/
@media only screen and (max-width:1024px){
  .tab-pane__content {
      width: 61%;
    }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-top-right > li {
    margin-right: 5px;
  }
  .main-menu-area nav > ul > li > a {
    padding: 0 8px;
  }
  .menu-two-style .main-menu-area nav > ul > li > a,
  .menu-four-style .main-menu-area nav > ul > li > a {
    padding: 0 12px;
  }
  .header-three-style .container-fluid,
  .header-six-style .container-fluid {
    padding-left: 15px;
    padding-right: 30px;
  }
  .header-address li {
    font-size: 16px;
    padding: 0 5px;
  }
  .header-three-style .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega,
  .header-six-style .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega {
    left: -25%;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    margin: 0 auto;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 30px;
    text-align: center;
  }
  .our-partner .owl-controls .owl-nav .owl-prev,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -30px;
  }
  .our-partner .owl-controls .owl-nav .owl-next,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-next {
    right: -30px;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 18px;
  }
  .asked-question-one-area .asked-accordion {
    padding: 90px 0;
  }
  .asked-question-one-area .asked-accordion .asked-descrip {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
    display: inherit;
    padding: 60px 0;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .people-image img {
    min-height: 446px;
  }
  .people-choose-services .people-choose-content {
    padding-right: 0;
  }
  .request-call-two-area .request-image img {
    min-height: 444px;
  }
  .request-call-two-area .request-title p {
    display: none;
  }
  .service-three-area .single-item .single-service {
    padding: 70px 40px 50px;
  }
  .service-four-area .feature-left-content > h2 {
    font-size: 24px;
  }
  .service-four-area .single-feature-item .feature-content {
    bottom: -125px;
  }
  .design-own-area .own-site-content p {
    padding: 0 3%;
  }
  .service-slider-three-area .single-feature-slide .feature-slide-img img {
    width: calc(118%);
  }
  .section-title p {
    width: 70%;
  }
  .service-slider-six-area .section-title-center p {
    width: 80%;
  }
  .service-slider-six-area .single-feature-slide h3 {
    font-size: 20px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(126%);
  }
  .service-slider-one-area .single-feature-slide .feature-slide-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .latest-news-one-area .single-news .item-info .favourite {
    margin-right: 5px;
  }
  .team-layout-3 .single-item .item-content {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .sidebar .sidebar-box .download {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .download .button-dow i {
    font-size: 40px;
  }
  .sidebar .sidebar-box .popular-tag a {
    width: 30.5%;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 50px;
  }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-top-bar .top-address ul li {
    margin-right: 10px;
  }
  .header-top-bar .top-social-link ul li {
    padding-left: 3px;
  }
  .main-menu-area nav > ul > li > a {
    font-size: 14px;
    line-height: 70px;
    padding: 0 5px;
  }
  .logo-area {
    height: 70px;
  }
  .header-address li {
    font-size: 15px;
    padding: 0 5px;
  }
  .header-address li i {
    width: 15px;
  }
  .header-address li span {
    padding-left: 15px;
  }
  .menu-two-style .main-menu-area nav > ul > li > a,
  .menu-four-style .main-menu-area nav > ul > li > a {
    padding: 0 14px;
  }
  .header-three-style .container-fluid,
  .header-six-style .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-one-style .main-menu-area nav > ul > li .rt-dropdown-mega,
  .header-five-style .main-menu-area nav > ul > li .rt-dropdown-mega,
  .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega {
    left: auto;
  }
  .menu-two-style .main-menu-area nav > ul > li .rt-dropdown-mega {
    left: -15px;
  }
  .menu-two-style.stick::before {
    width: 100%;
  }
  .menu-two-style.stick::after {
    width: auto;
  }
  .slide-3 .s-tb-c .container,
  .slide-5 .s-tb-c .container {
    margin-top: 80px;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 20px;
    text-align: center;
  }
  .team-layout-2 .single-item .item-content h3 {
    font-size: 18px;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 20px;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 0;
  }
  .banner-one-area .banner-content h2 {
    font-size: 30px;
  }
  .asked-question-one-area,
  .request-call-two-area .request-form-wrapper {
    display: inherit;
  }
  .asked-question-one-area .asked-image,
  .asked-question-one-area .asked-question,
  .request-call-two-area .request-image,
  .request-call-two-area .request-form-wrapper {
    width: inherit;
  }
  .asked-question-one-area .asked-accordion {
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .our-partner .owl-controls .owl-nav .owl-prev,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -20px;
  }
  .our-partner .owl-controls .owl-nav .owl-next,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-next {
    right: -20px;
  }
  .request-call-one-area .request-form {
    width: 90%;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
  }
  .people-choose-services {
    display: inherit;
  }
  .people-choose-services .choose-services,
  .people-choose-services .people-image {
    width: 100%;
  }
  .people-choose-services .people-choose-content {
    padding: 90px 0;
  }
  .left-tab-style {
    padding-bottom: 100px;
  }
  .section-title p,
  .service-slider-six-area .section-title-center p {
    width: 80%;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(120%);
  }
  .our-expert-advisor .single-expert .item-content {
    flex: inherit;
    padding: 40px 0;
  }
  .request-call-two-area {
    display: inherit;
  }
  .request-call-two-area .request-form {
    padding: 90px 0;
  }
  .request-call-two-area .request-form .request-title,
  .request-call-two-area .request-form-select {
    padding-left: 0;
  }
  .service-three-area .single-item .single-service {
    padding: 50px 20px 30px;
  }
  .expert-people-area .single-item .item-image,
  .team-layout-2 .single-item .item-image {
    max-width: 120px;
  }
  .service-four-area .feature-left-content {
    margin-bottom: 30px;
  }
  .service-five-area .section-title-center h2 {
    font-size: 26px;
  }
  .testimonial-two-area .single-testimonial {
    width: 80%;
  }
  .service-slider-one-area .single-feature-slide .feature-slide-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-service-one .single-service .item-icon {
    padding-right: 15px;
  }
  .about-service-one .single-service .item-content h3 {
    font-size: 20px;
  }
  .page-title {
    padding: 70px 0;
  }
  .team-detail-layout .detail-image ul li {
    font-size: 15px;
  }
  .team-detail-layout .detail-image ul li:first-child {
    font-size: 22px;
  }
  .sidebar .sidebar-box .download {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .download .button-dow i {
    font-size: 35px;
    padding-left: 10px;
  }
  .sidebar .sidebar-box .download h3 {
    font-size: 18px;
  }
  .sidebar .sidebar-box .download .button-dow a {
    padding: 10px;
    font-size: 12px;
  }
  .sidebar .sidebar-box .ready-to-help {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .ready-to-help a.ghost-btn {
    padding: 12px;
  }
  .faq-accordion .panel-default .panel-heading .panel-title {
    font-size: 16px;
  }
  .sidebar .sidebar-box .popular-tag a {
    width: 47%;
  }
  .online-shop-category .online-header .pager-area .pager-left-area h3 {
    font-size: 19px;
  }
  .online-shop-category .online-header .pager-area .pager-right-area .view-mode ul li a {
    padding: 6px 5px;
  }
  .sidebar .sidebar-box .related-product .retated-img {
    margin-right: 10px;
    padding: 8px;
  }
  .sidebar .sidebar-box .related-product .retated-img img {
    width: 50px;
  }
  .product-details .details-image .single-product-tab ul li a img {
    width: 36px;
  }
  .contact-area .contact-info ul li:nth-child(odd),
  .contact-area .contact-info ul li:nth-child(even) {
    width: inherit;
  }
  .contact-area .contact-info ul li {
    display: block;
  }
  .banner-one-area .banner-content h2 span {
    font-size: 36px;
  }
  .counter-area .counter-title h2 {
    font-size: 40px;
  }
  .cart-page-area .cart-page-top table tr .cart-img-holder img {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  header {
    display: none;
  }
  .slider-area {
    margin-top: 56px;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 26px;
    line-height: 1.1;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 20px;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area .btn-fill-round {
    font-size: 14px;
    padding: 10px 20px;
  }
  .sidebar {
    margin-top: 70px;
  }
  .waste-time-area,
  .waste-time-area .waste-time-button {
    text-align: center;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 24px;
  }
  .about-one-area .about-image {
    text-align: center;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .asked-question-one-area {
    display: inherit;
  }
  .asked-question-one-area .asked-image,
  .asked-question-one-area .asked-question {
    width: inherit;
  }
  .asked-question-one-area .asked-accordion {
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
  }
  .people-choose-services {
    display: inherit;
  }
  .people-choose-services .choose-services,
  .people-choose-services .people-image {
    width: 100%;
  }
  .people-choose-services .people-choose-content {
    padding: 90px 0;
  }
  .request-call-two-area,
  .request-call-two-area .request-form-wrapper {
    display: inherit;
  }
  .request-call-two-area .request-form {
    padding: 90px 0;
  }
  .request-call-two-area .request-form .request-title,
  .request-call-two-area .request-form-select {
    padding-left: 0;
  }
  .request-call-two-area .request-form-wrapper {
    width: inherit;
  }
  .request-call-two-area .request-image {
    width: inherit;
  }
  .banner-one-area .banner-content h2 {
    font-size: 26px;
  }
  .banner-one-area .banner-content h2 span {
    font-size: 30px;
  }
  .request-call-one-area .request-form {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-bottom-area .footer-box .footer-social,
  .footer-bottom-area .footer-box .useful-link {
    margin-bottom: 50px;
  }
  .latest-news-one-area .single-news .item-image img {
    width: calc(124%);
  }
  .left-tab-style .tabs-left .nav-tabs {
    float: inherit;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .section-title p,
  .service-slider-six-area .section-title-center p {
    width: 95%;
  }
  .our-expert-advisor .single-expert {
    display: inherit;
    margin-right: 0;
  }
  .our-expert-advisor .single-expert .item-content {
    margin: 0;
    padding: 30px;
  }
  .our-expert-advisor .single-expert::after {
    border: none;
    position: inherit;
  }
  .service-three-area .single-item .single-service {
    box-shadow: 0 -1px 0 0 #d8d8d8;
    padding-right: 40px;
    padding-left: 40px;
  }
  .asked-question-two-area .row {
    display: inherit;
  }
  .asked-question-two-area .asked-accordion {
    padding: 70px 0 120px;
  }
  .asked-question-two-area .asked-image {
    text-align: center;
  }
  .asked-question-two-area .asked-image img {
    display: inline-block;
  }
  .service-four-area .feature-left-content {
    margin-bottom: 30px;
  }
  .service-four-area .single-feature-item img {
    width: 100%;
  }
  .testimonial-two-area .single-testimonial {
    width: inherit;
  }
  .service-one-area,
  .our-team-area,
  .service-layout-3,
  .pricing-plan-area {
    padding: 90px 0 60px;
  }
  .about-one-area {
    padding-top: 90px;
  }
  .request-call-one-area,
  .asked-question-two-area .asked-accordion {
    padding-bottom: 90px;
  }
  .service-slider-one-area,
  .weekly-financial-report,
  .expert-advisor-slider-area,
  .our-expert-advisor,
  .service-slider-two-area,
  .our-portfolio-area,
  .service-four-area,
  .design-own-area,
  .service-slider-three-area,
  .our-expert-slider-area,
  .service-slider-five-area,
  .our-expert-member-slider-area,
  .service-slider-six-area,
  .about-page-one-area,
  .our-portfolio-area,
  .contact-area {
    padding: 80px 0 90px;
  }
  .testimonial-one-area,
  .latest-news-one-area,
  .testimonial-two-area,
  .footer-bottom-area {
    padding: 80px 0;
  }
  .left-tab-style,
  .financial-analysis-area,
  .request-call-three-area,
  .service-layout-detail,
  .error-area,
  .latest-news-area,
  .online-shop-area,
  .single-shop-area,
  .checkout-page-area,
  cart-page-area {
    padding: 20px 0;
  }
  .service-two-area {
    padding: 80px 0 40px;
  }
  .counter-area,
  .our-case-studies-area,
  .expert-people-area,
  .team-layout-2,
  .service-five-area,
  .service-six-area,
  .about-service-one-area {
    padding: 80px 0 60px;
  }
  .our-portfolio-area.layout-space,
  .service-layout-1 {
    padding: 90px 0 50px;
  }
  .service-layout-2,
  .case-studies-layout,
  .case-layout-detail,
  .faqs-area {
    padding: 90px 0 70px;
  }
  .request-form-select > fieldset > div {
    padding: 0;
  }
  .counter-area .counter-title h2 {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(118%);
  }
  .service-layout-2 .single-item .item-content {
    margin-top: 30px;
  }
  .faq-accordion .panel-default .panel-heading .panel-title {
    font-size: 16px;
  }
  .error-bottom-wrapper {
    width: 65%;
  }
  .news-layout-3 .single-item .item-info {
    margin-top: 30px;
  }
  .news-details-layout .item-comments .item-comments-list ul.comments-list li.odd {
    margin-left: 0;
  }
  .online-shop-category .online-header .pager-area {
    display: inherit;
    text-align: inherit;
  }
  .online-shop-category .online-header .pager-area .pager-left-area h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .online-shop-category .category-product-list .single-item .product-content {
    margin-top: 30px;
  }
  .product-details .detail-content {
    margin-top: 30px;
  }
  .service-six-area .single-service-item .single-service .service-content {
    margin-top: 15px;
  }
  .cart-page-area .cart-page-top table tr .cart-img-holder img {
    padding: 5px;
    display: inline-block;
  }
  .cart-page-area .ghost-btn {
    padding: 10px 15px;
  }
  .cart-page-area .cart-page-bottom-left input {
    margin-bottom: 15px;
  }
  .about-video {
    margin-top: 40px;
  }
  .about-video img {
    width: 100%;
  }
  .page-title {
    margin-top: 55px;
    padding: 60px 0;
    text-align: center;
  }
  .page-title h2 {
    font-size: 32px;
  }
  .team-layout-1 .single-team .item-image img,
  .team-layout-3 .single-item .item-image img,
  .detail-image .image-caption img,
  .portfolio-layout-1 .single-item .item-image img,
  .portfolio-layout-2 .single-item .item-image img,
  .portfolio-layout-3 .single-item .item-image img,
  .service-layout-1 .single-item .item-image img,
  .service-layout-2 .single-item .item-image img,
  .service-layout-3 .single-item .item-image img,
  .case-studies-layout .single-item .item-image img,
  .news-layout-2 .single-item .item-image img,
  .news-layout-3 .single-item .item-image img {
    width: 100%;
  }

  .our-business{
    margin-top:0;
  }
}

@media (max-width: 600px){
  .tab-pane__content {
    padding: 65px 20px;
    width: auto;
    font-size:1rem;
    line-height:30px;
  }
}
/* Large Mobile :480px. */
@media (max-width: 480px) {
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    display: none;
  }
  .slider-area .nivoSlider .slider-content p {
    font-size: 13px;
    line-height: 18px;
    width: 70%;
  }
  h2,
  .our-expert-advisor .single-expert .item-content h3 {
    font-size: 26px;
  }
  .section-title-center h2,
  .counter-area .counter-title h2,
  .people-choose-services .people-choose-content h2,
  .request-call-two-area .request-form .request-title h2,
  .waste-time-area .waste-time-content h3,
  .design-own-area .own-site-content h2,
  .service-five-area .section-title-center h2 {
    font-size: 26px;
  }
  .expert-people-area .single-item .item-image,
  .team-layout-2 .single-item .item-image {
    float: inherit !important;
    max-width: inherit;
  }
  .expert-people-area .single-item .item-image img,
  .team-layout-2 .single-item .item-image img {
    width: 100%;
  }
  .expert-people-area .single-item .item-content,
  .team-layout-2 .single-item .item-content {
    padding-left: 0;
    padding-top: 20px;
  }
  .service-slider-three-area .single-feature-slide .feature-slide-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .service-three-area .single-item .single-service {
    padding: 50px 50px 40px;
  }
  .left-tab-style .tabs-left .nav-tabs li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-default-big {
    padding: 14px 25px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(123%);
  }
  .page-title {
    padding: 50px 0;
  }
  .page-title h2 {
    font-size: 30px;
  }
  .error-bottom-wrapper a.error-btn {
    padding: 16px 30px;
  }
  .news-details-layout .item-comments .item-author .pull-left {
    float: inherit !important;
    margin-bottom: 30px;
  }
  .product-overview-area ul.nav-tabs li a {
    padding: 12px;
    font-size: 13px;
  }
  .contact-area .contact-info ul li:nth-child(odd),
  .contact-area .contact-info ul li:nth-child(even) {
    width: inherit;
  }
  .contact-area .contact-info ul li {
    display: block;
  }

  .left-tab-style .tabs-left .tab-content .tab-pane__professionals__background,
  .left-tab-style .tabs-left .tab-content .tab-pane__trusted__background,
  .left-tab-style .tabs-left .tab-content .tab-pane__experts__background{
    background-size: auto;
  }
}
/* small mobile :320px. */
@media (max-width: 320px) {
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 24px;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    display: none;
  }
  .service-four-area .single-feature-item .feature-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .latest-news-one-area .single-news .item-info span {
    font-size: 13px;
  }
  .latest-news-one-area .single-news .item-info i {
    font-size: 14px;
  }
  .latest-news-one-area .single-news .item-info .favourite {
    margin-right: 6px;
  }
  .page-title {
    padding: 40px 0;
  }
  .page-title h2 {
    font-size: 26px;
  }
  .team-layout-3 .single-item .item-content {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .product-overview-area ul.nav-tabs li a {
    padding: 12px 8px;
    font-size: 12px;
  }
  .online-shop-category .online-header .pager-area .pager-right-area .view-mode ul li a {
    padding: 6px 12px;
  }
  .related-product-area .single-item .item-content {
    text-align: center;
  }
}
/*=====  End of Responsive css  ======*/

/*=======================================
=           [43] Responsive css         =
========================================*/
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-top-right > li {
    margin-right: 5px;
  }
  .main-menu-area nav > ul > li > a {
    padding: 0 8px;
  }
  .menu-two-style .main-menu-area nav > ul > li > a,
  .menu-four-style .main-menu-area nav > ul > li > a {
    padding: 0 12px;
  }
  .header-three-style .container-fluid,
  .header-six-style .container-fluid {
    padding-left: 15px;
    padding-right: 30px;
  }
  .header-address li {
    font-size: 14px;
    padding: 0 5px;
  }
  .header-three-style .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega,
  .header-six-style .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega {
    left: -25%;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    margin: 0 auto;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 30px;
    text-align: center;
  }
  .our-partner .owl-controls .owl-nav .owl-prev,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -30px;
  }
  .our-partner .owl-controls .owl-nav .owl-next,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-next {
    right: -30px;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 18px;
  }
  .asked-question-one-area .asked-accordion {
    padding: 90px 0;
  }
  .asked-question-one-area .asked-accordion .asked-descrip {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
    display: inherit;
    padding: 60px 0;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .people-image img {
    min-height: 446px;
  }
  .people-choose-services .people-choose-content {
    padding-right: 0;
  }
  .request-call-two-area .request-image img {
    min-height: 444px;
  }
  .request-call-two-area .request-title p {
    display: none;
  }
  .service-three-area .single-item .single-service {
    padding: 70px 40px 50px;
  }
  .service-four-area .feature-left-content > h2 {
    font-size: 24px;
  }
  .service-four-area .single-feature-item .feature-content {
    bottom: -125px;
  }
  .design-own-area .own-site-content p {
    padding: 0 3%;
  }
  .service-slider-three-area .single-feature-slide .feature-slide-img img {
    width: calc(118%);
  }
  .section-title p {
    width: 70%;
  }
  .service-slider-six-area .section-title-center p {
    width: 80%;
  }
  .service-slider-six-area .single-feature-slide h3 {
    font-size: 20px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(126%);
  }
  .service-slider-one-area .single-feature-slide .feature-slide-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .latest-news-one-area .single-news .item-info .favourite {
    margin-right: 5px;
  }
  .team-layout-3 .single-item .item-content {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .sidebar .sidebar-box .download {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .download .button-dow i {
    font-size: 40px;
  }
  .sidebar .sidebar-box .popular-tag a {
    width: 30.5%;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 50px;
  }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-top-bar .top-address ul li {
    margin-right: 10px;
  }
  .header-top-bar .top-social-link ul li {
    padding-left: 3px;
  }
  .main-menu-area nav > ul > li > a {
    font-size: 14px;
    line-height: 70px;
    padding: 0 5px;
  }
  .logo-area {
    height: 70px;
  }
  .header-address li {
    font-size: 15px;
    padding: 0 5px;
  }
  .header-address li i {
    width: 15px;
  }
  .header-address li span {
    padding-left: 15px;
  }
  .menu-two-style .main-menu-area nav > ul > li > a,
  .menu-four-style .main-menu-area nav > ul > li > a {
    padding: 0 14px;
  }
  .header-three-style .container-fluid,
  .header-six-style .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-one-style .main-menu-area nav > ul > li .rt-dropdown-mega,
  .header-five-style .main-menu-area nav > ul > li .rt-dropdown-mega,
  .main-menu-area nav > ul li.menu-justify .rt-dropdown-mega {
    left: auto;
  }
  .menu-two-style .main-menu-area nav > ul > li .rt-dropdown-mega {
    left: -15px;
  }
  .menu-two-style.stick::before {
    width: 100%;
  }
  .menu-two-style.stick::after {
    width: auto;
  }
  .slide-3 .s-tb-c .container,
  .slide-5 .s-tb-c .container {
    margin-top: 80px;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 20px;
    text-align: center;
  }
  .team-layout-2 .single-item .item-content h3 {
    font-size: 18px;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 20px;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 0;
  }
  .banner-one-area .banner-content h2 {
    font-size: 30px;
  }
  .asked-question-one-area,
  .request-call-two-area .request-form-wrapper {
    display: inherit;
  }
  .asked-question-one-area .asked-image,
  .asked-question-one-area .asked-question,
  .request-call-two-area .request-image,
  .request-call-two-area .request-form-wrapper {
    width: inherit;
  }
  .asked-question-one-area .asked-accordion {
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .our-partner .owl-controls .owl-nav .owl-prev,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -20px;
  }
  .our-partner .owl-controls .owl-nav .owl-next,
  .arrow-left-right.owl-theme .owl-controls .owl-nav .owl-next {
    right: -20px;
  }
  .request-call-one-area .request-form {
    width: 90%;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
  }
  .people-choose-services {
    display: inherit;
  }
  .people-choose-services .choose-services,
  .people-choose-services .people-image {
    width: 100%;
  }
  .people-choose-services .people-choose-content {
    padding: 90px 0;
  }
  .left-tab-style {
    padding-bottom: 100px;
  }
  .section-title p,
  .service-slider-six-area .section-title-center p {
    width: 80%;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(120%);
  }
  .our-expert-advisor .single-expert .item-content {
    flex: inherit;
    padding: 40px 0;
  }
  .request-call-two-area {
    display: inherit;
  }
  .request-call-two-area .request-form {
    padding: 90px 0;
  }
  .request-call-two-area .request-form .request-title,
  .request-call-two-area .request-form-select {
    padding-left: 0;
  }
  .service-three-area .single-item .single-service {
    padding: 50px 20px 30px;
  }
  .expert-people-area .single-item .item-image,
  .team-layout-2 .single-item .item-image {
    max-width: 120px;
  }
  .service-four-area .feature-left-content {
    margin-bottom: 30px;
  }
  .service-five-area .section-title-center h2 {
    font-size: 26px;
  }
  .testimonial-two-area .single-testimonial {
    width: 80%;
  }
  .service-slider-one-area .single-feature-slide .feature-slide-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-service-one .single-service .item-icon {
    padding-right: 15px;
  }
  .about-service-one .single-service .item-content h3 {
    font-size: 20px;
  }
  .page-title {
    padding: 70px 0;
  }
  .team-detail-layout .detail-image ul li {
    font-size: 15px;
  }
  .team-detail-layout .detail-image ul li:first-child {
    font-size: 22px;
  }
  .sidebar .sidebar-box .download {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .download .button-dow i {
    font-size: 35px;
    padding-left: 10px;
  }
  .sidebar .sidebar-box .download h3 {
    font-size: 18px;
  }
  .sidebar .sidebar-box .download .button-dow a {
    padding: 10px;
    font-size: 12px;
  }
  .sidebar .sidebar-box .ready-to-help {
    padding: 30px 15px;
  }
  .sidebar .sidebar-box .ready-to-help a.ghost-btn {
    padding: 12px;
  }
  .faq-accordion .panel-default .panel-heading .panel-title {
    font-size: 16px;
  }
  .sidebar .sidebar-box .popular-tag a {
    width: 47%;
  }
  .online-shop-category .online-header .pager-area .pager-left-area h3 {
    font-size: 19px;
  }
  .online-shop-category .online-header .pager-area .pager-right-area .view-mode ul li a {
    padding: 6px 5px;
  }
  .sidebar .sidebar-box .related-product .retated-img {
    margin-right: 10px;
    padding: 8px;
  }
  .sidebar .sidebar-box .related-product .retated-img img {
    width: 50px;
  }
  .product-details .details-image .single-product-tab ul li a img {
    width: 36px;
  }
  .contact-area .contact-info ul li:nth-child(odd),
  .contact-area .contact-info ul li:nth-child(even) {
    width: inherit;
  }
  .contact-area .contact-info ul li {
    display: block;
  }
  .banner-one-area .banner-content h2 span {
    font-size: 36px;
  }
  .counter-area .counter-title h2 {
    font-size: 40px;
  }
  .cart-page-area .cart-page-top table tr .cart-img-holder img {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  header {
    display: none;
  }
  .slider-area {
    margin-top: 56px;
  }
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 26px;
    line-height: 1.1;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content p {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    margin-top: 20px;
    text-align: center;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area .btn-fill-round {
    font-size: 14px;
    padding: 10px 20px;
  }
  .sidebar {
    margin-top: 70px;
  }
  .waste-time-area,
  .waste-time-area .waste-time-button {
    text-align: center;
  }
  .waste-time-area .waste-time-button .btn-default {
    margin-top: 24px;
  }
  .about-one-area .about-image {
    text-align: center;
  }
  .about-one-area .about-content-center .about-content {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .asked-question-one-area {
    display: inherit;
  }
  .asked-question-one-area .asked-image,
  .asked-question-one-area .asked-question {
    width: inherit;
  }
  .asked-question-one-area .asked-accordion {
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .people-choose-services .calculator {
    display: none;
  }
  .people-choose-services .choose-services-wrapper {
    position: inherit;
  }
  .people-choose-services {
    display: inherit;
  }
  .people-choose-services .choose-services,
  .people-choose-services .people-image {
    width: 100%;
  }
  .people-choose-services .people-choose-content {
    padding: 90px 0;
  }
  .request-call-two-area,
  .request-call-two-area .request-form-wrapper {
    display: inherit;
  }
  .request-call-two-area .request-form {
    padding: 90px 0;
  }
  .request-call-two-area .request-form .request-title,
  .request-call-two-area .request-form-select {
    padding-left: 0;
  }
  .request-call-two-area .request-form-wrapper {
    width: inherit;
  }
  .request-call-two-area .request-image {
    width: inherit;
  }
  .banner-one-area .banner-content h2 {
    font-size: 26px;
  }
  .banner-one-area .banner-content h2 span {
    font-size: 30px;
  }
  .request-call-one-area .request-form {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-bottom-area .footer-box .footer-social,
  .footer-bottom-area .footer-box .useful-link {
    margin-bottom: 50px;
  }
  .latest-news-one-area .single-news .item-image img {
    width: calc(124%);
  }
  .left-tab-style .tabs-left .nav-tabs {
    float: inherit;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .section-title p,
  .service-slider-six-area .section-title-center p {
    width: 95%;
  }
  .our-expert-advisor .single-expert {
    display: inherit;
    margin-right: 0;
  }
  .our-expert-advisor .single-expert .item-content {
    margin: 0;
    padding: 30px;
  }
  .our-expert-advisor .single-expert::after {
    border: none;
    position: inherit;
  }
  .service-three-area .single-item .single-service {
    box-shadow: 0 -1px 0 0 #d8d8d8;
    padding-right: 40px;
    padding-left: 40px;
  }
  .asked-question-two-area .row {
    display: inherit;
  }
  .asked-question-two-area .asked-accordion {
    padding: 70px 0 120px;
  }
  .asked-question-two-area .asked-image {
    text-align: center;
  }
  .asked-question-two-area .asked-image img {
    display: inline-block;
  }
  .service-four-area .feature-left-content {
    margin-bottom: 30px;
  }
  .service-four-area .single-feature-item img {
    width: 100%;
  }
  .testimonial-two-area .single-testimonial {
    width: inherit;
  }
  .service-one-area,
  .our-team-area,
  .service-layout-3 {
    padding: 90px 0 60px;
  }
  .about-one-area {
    padding-top: 90px;
  }
  .request-call-one-area,
  .asked-question-two-area .asked-accordion {
    padding-bottom: 90px;
  }
  .service-slider-one-area,
  .weekly-financial-report,
  .expert-advisor-slider-area,
  .our-expert-advisor,
  .service-slider-two-area,
  .our-portfolio-area,
  .service-four-area,
  .design-own-area,
  .service-slider-three-area,
  .our-expert-slider-area,
  .service-slider-five-area,
  .our-expert-member-slider-area,
  .service-slider-six-area,
  .about-page-one-area,
  .our-portfolio-area,
  .contact-area {
    padding: 80px 0 90px;
  }
  .testimonial-one-area,
  .latest-news-one-area,
  .testimonial-two-area,
  .footer-bottom-area {
    padding: 80px 0;
  }
  .left-tab-style,
  .financial-analysis-area,
  .request-call-three-area,
  .service-layout-detail,
  .error-area,
  .latest-news-area,
  .online-shop-area,
  .single-shop-area,
  .checkout-page-area,
  cart-page-area {
    padding: 90px 0;
  }
  .service-two-area {
    padding: 80px 0 40px;
  }
  .counter-area,
  .our-case-studies-area,
  .expert-people-area,
  .team-layout-2,
  .service-five-area,
  .service-six-area,
  .about-service-one-area {
    padding: 80px 0 60px;
  }
  .our-portfolio-area.layout-space,
  .service-layout-1 {
    padding: 90px 0 50px;
  }
  .service-layout-2,
  .case-studies-layout,
  .case-layout-detail,
  .faqs-area {
    padding: 90px 0 70px;
  }
  .request-form-select > fieldset > div {
    padding: 0;
  }
  .counter-area .counter-title h2 {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(118%);
  }
  .service-layout-2 .single-item .item-content {
    margin-top: 30px;
  }
  .faq-accordion .panel-default .panel-heading .panel-title {
    font-size: 16px;
  }
  .error-bottom-wrapper {
    width: 65%;
  }
  .news-layout-3 .single-item .item-info {
    margin-top: 30px;
  }
  .news-details-layout .item-comments .item-comments-list ul.comments-list li.odd {
    margin-left: 0;
  }
  .online-shop-category .online-header .pager-area {
    display: inherit;
    text-align: inherit;
  }
  .online-shop-category .online-header .pager-area .pager-left-area h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .online-shop-category .category-product-list .single-item .product-content {
    margin-top: 30px;
  }
  .product-details .detail-content {
    margin-top: 30px;
  }
  .service-six-area .single-service-item .single-service .service-content {
    margin-top: 15px;
  }
  .cart-page-area .cart-page-top table tr .cart-img-holder img {
    padding: 5px;
    display: inline-block;
  }
  .cart-page-area .ghost-btn {
    padding: 10px 15px;
  }
  .cart-page-area .cart-page-bottom-left input {
    margin-bottom: 15px;
  }
  .about-video {
    margin-top: 40px;
  }
  .about-video img {
    width: 100%;
  }
  .page-title {
    margin-top: 55px;
    padding: 60px 0;
    text-align: center;
  }
  .page-title h2 {
    font-size: 32px;
  }
  .team-layout-1 .single-team .item-image img,
  .team-layout-3 .single-item .item-image img,
  .detail-image .image-caption img,
  .portfolio-layout-1 .single-item .item-image img,
  .portfolio-layout-2 .single-item .item-image img,
  .portfolio-layout-3 .single-item .item-image img,
  .service-layout-1 .single-item .item-image img,
  .service-layout-2 .single-item .item-image img,
  .service-layout-3 .single-item .item-image img,
  .case-studies-layout .single-item .item-image img,
  .news-layout-2 .single-item .item-image img,
  .news-layout-3 .single-item .item-image img {
    width: 100%;
  }
}
/* Large Mobile :480px. */
@media (max-width: 480px) {
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    display: none;
  }
  .slider-area .nivoSlider .slider-content p {
    font-size: 13px;
    line-height: 18px;
    width: 70%;
  }
  h2,
  .our-expert-advisor .single-expert .item-content h3 {
    font-size: 26px;
  }
  .section-title-center h2,
  .counter-area .counter-title h2,
  .people-choose-services .people-choose-content h2,
  .request-call-two-area .request-form .request-title h2,
  .waste-time-area .waste-time-content h3,
  .design-own-area .own-site-content h2,
  .service-five-area .section-title-center h2 {
    font-size: 26px;
  }
  .expert-people-area .single-item .item-image,
  .team-layout-2 .single-item .item-image {
    float: inherit !important;
    max-width: inherit;
  }
  .expert-people-area .single-item .item-image img,
  .team-layout-2 .single-item .item-image img {
    width: 100%;
  }
  .expert-people-area .single-item .item-content,
  .team-layout-2 .single-item .item-content {
    padding-left: 0;
    padding-top: 20px;
  }
  .service-slider-three-area .single-feature-slide .feature-slide-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .service-three-area .single-item .single-service {
    padding: 50px 50px 40px;
  }
  .left-tab-style .tabs-left .nav-tabs li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-default-big {
    padding: 14px 25px;
  }
  .service-slider-six-area .single-feature-slide .feature-item img {
    width: calc(123%);
  }
  .page-title {
    padding: 50px 0;
  }
  .page-title h2 {
    font-size: 30px;
  }
  .error-bottom-wrapper a.error-btn {
    padding: 16px 30px;
  }
  .news-details-layout .item-comments .item-author .pull-left {
    float: inherit !important;
    margin-bottom: 30px;
  }
  .product-overview-area ul.nav-tabs li a {
    padding: 12px;
    font-size: 13px;
  }
  .contact-area .contact-info ul li:nth-child(odd),
  .contact-area .contact-info ul li:nth-child(even) {
    width: inherit;
  }
  .contact-area .contact-info ul li {
    display: block;
  }
}
/* small mobile :320px. */
@media (max-width: 320px) {
  .slider-area .nivoSlider .slider-content h1,
  .slider-area .nivoSlider .slider-content .large-title {
    font-size: 24px;
  }
  .slider-area .nivoSlider .slider-content .slider-btn-area {
    display: none;
  }
  .service-four-area .single-feature-item .feature-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .latest-news-one-area .single-news .item-info span {
    font-size: 13px;
  }
  .latest-news-one-area .single-news .item-info i {
    font-size: 14px;
  }
  .latest-news-one-area .single-news .item-info .favourite {
    margin-right: 6px;
  }
  .page-title {
    padding: 40px 0;
  }
  .page-title h2 {
    font-size: 26px;
  }
  .team-layout-3 .single-item .item-content {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  .product-overview-area ul.nav-tabs li a {
    padding: 12px 8px;
    font-size: 12px;
  }
  .online-shop-category .online-header .pager-area .pager-right-area .view-mode ul li a {
    padding: 6px 12px;
  }
  .related-product-area .single-item .item-content {
    text-align: center;
  }
}
/*=====  End of Responsive css  ======*/
