*html/*
application/tmp/*
application/cache/*
application/logs/*
application/config/config.php
*.DS_Store*
/application/config/database.php
application/config/config.php
application/config/database.php
